div.container {
  max-width: 100vw;
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  height: 100px;
  border-bottom: 5px solid black;
  background: #c5b8f7;
}

.container div {
  float: left;
}
.container .r2 .react-datepicker div {
  float: none !important;
  padding: 0px;
  margin: 0px;
}
.r0 {
  float: left;
  margin-top: 10px;
  line-height: 70px;
}

.r1 {
  float: left;
  margin-top: 10px;
  line-height: 70px;
}

.r2 {
  float: left;
  margin-top: 10px;
  line-height: 70px;
}

.r3 {
  float: left;
  margin-top: 10px;
  line-height: 70px;
  font-weight: bold;
}

.topic {
  float: left;
  font-size: 16px;
  margin-right: 10px;
  font-weight: bold;
}
.dropdown {
  float: right;
  border-radius: 7px;
  box-sizing: border-box;
  width: 150px;
  background: #d9d9d9;
  padding: 0px;
  border: 2px solid #000000;
  margin-top: 10px;
  height: 50px;
}
.date {
  float: left;
  font-size: 16px;
  margin-right: 10px;
  font-weight: bold;
}

.start {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  box-sizing: border-box;
  width: 250px;
  background: #d9d9d9;
  padding: 0px;
  border: 2px solid #000000;
  height: 50px;
  margin-top: 10px;
  padding-left: 25px;
  font-weight: 600;
}
.to {
  height: 50px;
  font-size: 16px;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 10px;
  font-weight: bold;
  display: flex;
  padding-right: 2px;
  padding-left: 2px;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: #d9d9d9;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.end {
  border-radius: 7px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  background: #d9d9d9;
  border: 2px solid #000000;
  padding-left: 25px;
  font-weight: 600;
  margin-top: 10px;
}

.react-datepicker__week {
  height: 50px;
}
.react-datepicker__day-names {
  height: 45px;
}
.react-datepicker__month {
  margin-bottom: 10px !important;
}
.react-datepicker__current-month {
  height: 40px;
}

.react-datepicker__navigation {
  margin-top: 5px;
  flex-direction: row;
  flex-wrap: wrap;
}
.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
  top: 0;
  margin-top: -8px !important;
}
.wfh {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  margin-right: 10px;
  margin-left: 10px;
}
.MuiInputBase-root {
  height: 49px !important;
  width: 101.5% !important;
  top: -1px;
  left: -1px;
}

.MuiInputBase-input.MuiOutlinedInput-input.MuiInputBase-inputAdornedEnd.MuiAutocomplete-input.MuiAutocomplete-inputFocused.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 3px;
  font-weight: 600;
}

.css-segi59 {
  height: 48px !important;
}
.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
  height: 48px !important;
}
.css-xxees4 .MuiAutocomplete-inputRoot .MuiAutocomplete-input {
  font-weight: 600;
}
