html,body{
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(231 246 255);
  backdrop-filter: blur(5px);
}

.scrollbar::-webkit-scrollbar {
  display: none;
}


.scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}