.scrollbar::-webkit-scrollbar {
  display: none;
}

.scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tweets-wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
}

@media only screen and (max-width:1024px){
  .tweets-wrapper{
     grid-template-columns: repeat(3, 1fr);
   }
}

@media only screen and (max-width:876px){
  .tweets-wrapper{
     grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width:568px){
 .tweets-wrapper{
    grid-template-columns: repeat(1, 1fr);
  }
}